<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Talisman - Board game{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% javascripts filter='?yui_js'
            'bundles/fosjsrouting/js/router.js'
            'js/fos_js_routes.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block js %}{% endblock %}
    </body>
</html>
