{% extends 'base.html.twig' %}

{% block css %}
    <style>
        body {
            font-size: 12px;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        td {
            width: 130px;
            height: 130px;
            border: 1px solid black;
            text-align: center;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('td').on('click', function () {
                var name = $(this).data('name');
                var description = $(this).data('description');

                $('.name').html(name);
                $('.description').html(nl2br(description));
            });

            $(document).on('click', '.action', function (e) {
                e.preventDefault();
                var path = $(this).data('action');

                $.ajax({
                    url: Routing.generate(path)
                }).done(function(data, textStatus, jqXHR) {
                    //
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    //
                });
            });
        });

        function nl2br(str, is_xhtml) {
            str = str.replace(/\\n/gi, '<br />');

            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';

            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }
    </script>
{% endblock %}

{% block body %}
    <table style="float: left;">
        {% for row in table %}
            <tr>
                {% for space in row %}

                    <td data-name="{{ spaces[space]['name'] }}"
                        data-description="{{ spaces[space]['description'] }}">
                        {{ space }}.<br/>
                        {{ spaces[space]['name'] }}<br/>
                        {% if player.position == space %}<b>Player1</b><br/>{% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div style="float: left; width: 650px;">
        <div class="allowed_actions"></div>
        <div class="name"></div>
        <div class="description"></div>
    </div>
{% endblock %}
